<div class="container-fluid">
  <div id="welcome-section-0" class="row">
      <img class="img-responsive center-block full-width" alt=""src="../img/welcome.jpeg" alt="">
  </div>
  <div id="welcome-section-1" class="row text-center">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="font-light letter-spacing-1"><strong>Missed</strong> deliveries? <strong>Stolen</strong> packages? <strong>Inconvenient</strong> postal runs? At Peglu, we take the hassle out of planning your next package delivery, return, or post office visit. Based in <strong>Washington, DC</strong>, we offer secure postal service options designed with you in mind.</h2>
    </div>
    <div class="col-xs-12">
      <div class="main-button">
        <a class="button-link" href="#">LEARN MORE</a>
      </div>

    </div>
  </div>

  <div class="row">
    <h3>HOW DOES IT WORK?</h3>
    <div class="col-sm-4 text-center">
      <img src="../img/phone01.jpeg" alt="">
      <h4>SUBSCRIBE</h4>
      <h5>Sign up to receive your Peglu shipping address for all future online purchases.  Be sure to save the custom address to use during the checkout phase!</h5>
    </div>

    <div class="col-sm-4 text-center">
      <img src="../img/phone02.jpeg" alt="">
      <h4>SELECT</h4>
      <h5>Add the delivery preferences that work best for you and your busy schedule.  This is the information we'll use for your personal deliveries!</h5>
    </div>

    <div class="col-sm-4 text-center">
      <img src="../img/phone03.jpeg" alt="">
      <h4>SHOP</h4>
      <h5>Use your Peglu shipping address for every online purchase. You'll receive a notice from us when your package arrives and is en route with a driver!</h5>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>
  </div>

  <div class="row text-center margin-bottom">
    <h2>Peglu Newsletter</h2>
    <p class="font-light">Sign up to receive news and updates!</p>
  </div>

  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
    <form class="form-inline text-center full-width" role="form" action="#">
      <div class="form-group">
        <label class="sr-only" for="email"></label>
        <input class="form-control no-radius input-lg" name="email" id="email" type="email" placeholder="Your Email" required>
      </div>
      <button class="btn btn-info btn-lg no-radius" type="submit">Submit</button>
    </form>
  </div>

  <div class="row height">

  </div>

</div>
